@import "../abstracts/mixins";
@import "../abstracts/variables";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1020;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  &-top {
    padding: 13px 0;
    background: $purpleColor;
    position: relative;
    background-image: url('../img/header-top-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: $breakpoint-lg) {
      padding: 0;
      height: 60px;
    }
    & .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: $breakpoint-lg) {
        height: 100%;
        max-width: 100%;
      }
    }
  }
  &-bottom {
    background: $purpleColor-3;
  }
  &-logo {
    display: flex;
    width: 90px;
    & img {
      @include defaultIcon(contain);
    }
  }
}
.search {
  &-mobile {
    display: none;
    @media (max-width: $breakpoint-lg) {
      display: block;
      width: 100%;
      padding: 12px;
      border-bottom: 1px solid #E5E5E5;
    }
  }
  &-desktop {
    @media (max-width: $breakpoint-lg) {
      display: none;
    }
  }
  & input {
    background: rgba(255,255,255,.2);
    border: 1px solid transparent;
    height: 100%;
    width: 240px;
    padding: 2px 30px 2px 12px;
    outline: none;
    color: $whiteColor;
    border-radius: 4px;
    
    &::placeholder {
      color: rgba(255,255,255,.7);
      opacity: 1;
    }
    &:-ms-input-placeholder { 
      color: rgba(255,255,255,.7);
    }
    
    &::-ms-input-placeholder {
      color: rgba(255,255,255,.7);
    }
    @media (max-width: $breakpoint-xl) {
      width: 100%;
    }
    @media (max-width: $breakpoint-lg) {
      background: #FBFBFB;
      color: $defaultText;
      cursor: text;
      pointer-events: auto;
      width: 100%;
      border: 1px solid #ECECEC;
      &::placeholder {
        color: $defaultText;
        opacity: 1;
      }
      &:-ms-input-placeholder { 
       color: $defaultText;
      }
      
      &::-ms-input-placeholder {
       color: $defaultText;
      }
    }
  }
  & .form-group {
    display: flex;
    align-items: center;
    position: relative;
    height: 30px;
    pointer-events: auto;
    @media (max-width: $breakpoint-lg) {
      width: 100%;
      height: 36px;
    }
  }
  & i {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    z-index: 2;
    cursor: pointer;
    &:before {
      color: rgba(255,255,255,.7);  
      @media (max-width: $breakpoint-lg) {
        color: #777777;
      }
    }
  }
  & button {
    height: 100%;
    width: 40px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    @media (max-width: $breakpoint-lg) {
      display: flex;
    }
  }
}
.menu {
  display: flex;
  align-items: center;
  @media (max-width: $breakpoint-lg) {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  &-item {
    margin: 0 25px;
    &:first-child {
      margin: 0 25px 0 0;
    }
    @media (max-width: $breakpoint-xl) {
      margin: 0 25px 0 0;
    }
    @media (max-width: $breakpoint-lg) {
      margin: 0;
      padding: 0;
      border-bottom: 1px solid #e5e5e5;
      width: 100%;
    }
  }
  &__link {
    font-size: 14px;
    color: $whiteColor;
    line-height: 1;
    padding: 13px 0;
    display: block;
    @include transition(.3);
    position: relative;
    @media (max-width: $breakpoint-lg) {
      color: $blackColor;
      padding: 16px 12px;
    }
    &:before {
      content: '';
      background: $goldenColor;
      position: absolute;
      left: 0;
      bottom: 8px;
      width: 0;
      opacity: 0;
      height: 2px;
      @include transition(.3);
    }
    @media (min-width: $breakpoint-lg) {
      &:hover, &.active {
        color: $goldenColor;
        &:before {
          opacity: 1;
          width: 100%;
        }
      }
    }
  }
}
.sub-menu {
  position: absolute;
  min-width: 200px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 4px 8px rgba(50, 50, 50, 0.1), inset 0px 2px 0px #2F1F55;
  background: #FFFFFF;
  border-radius: 0 0 4px 4px;
  transform: translate(-10px, 0);
  @include transition(.3);
  & .menu-item {
    margin: 0;
    @media (max-width: $breakpoint-lg) {
      border: none;
    }
  }
  & .menu__link {
    padding: 12px 16px;
    line-height: 1.1;
    color: $blackColor;
    box-shadow: inset 0px -1px 0px #EDEDED;
    &:hover {
      color: $purpleColor-3;
    }
    &:before {
      bottom: 0;
      background: $purpleColor-3;
    }
    @media (max-width: $breakpoint-lg) {
      background: #F6F6F6;
      box-shadow: none;
      padding: 16px 12px 16px 24px;
      line-height: 1;
    }
  }
  @media (max-width: $breakpoint-lg) {
    position: static;
    opacity: 1;
    visibility: visible;
    background: transparent;
    box-shadow: none;
    transform: translate(0, 0);
    border: none;
    display: none;
    left: 380px;
    top: -53px;
  }
}
.menu-item-has-children {
  align-items: center;
  position: relative;
  display: block;
  padding-right: 20px;
  &:before {
    content: '';
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    @include transition(.3);
  }
  & i {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 11px;
    right: 0px;
    @include transition(.3);
    @media (max-width: $breakpoint-lg) {
      background: no-repeat center url('../img/icons/icon-arrow-gray.svg');
      right: 0;
      height: 30px;
      width: 50px;
      top: 8px;
      transform: rotate(180deg);
    }
  }
  @media (max-width: $breakpoint-xl) {
    margin-right: 28px;
    position: relative;
  }
  @media (min-width: $breakpoint-lg) {
    &:hover {
      & i {
        transform: rotate(180deg);
      }
      &:before {
        opacity: 1;
        visibility: visible;
      }
      & > a {
        color: $goldenColor;
        &:before {
          opacity: 1;
          width: 100%;
        }
      }
      & .sub-menu {
        opacity: 1;
        visibility: visible;
        transform: translate(0,0);
      }
    }
  }
  &.active {
    & i {
      transform: rotate(0);
    }
    & .sub-menu {
      display: block;
    }
  }
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: $breakpoint-lg) {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 20px 0;
  }
}
.body-padding {
  height: 110px;
  @media (max-width: $breakpoint-lg) {
    height: 60px;
  }
}

.header-bottom {
  @media (max-width: $breakpoint-lg) {
    position: fixed;
    top: 59px;
    right: -120vw;
    width: 100%;
    height: calc(100% - 59px);
    overflow: auto;
    @include transition(.3);
    background: $whiteColor;
    &.active {
      right: 0;
    }
    & .container {
      padding: 0;
    }
  }
}



.hamburger {
  display: none;
  width: 50px;
  position: relative;
  z-index: 22;
  position: absolute;
  right: 5px;
  top: 0;
  height: 58px;
  @media (max-width: $breakpoint-lg) {
    display: block;
  } 
  & span {
    position: absolute;
    right: 11px;
    display: block;
    width: 25px;
    background: $whiteColor;
    height: 3px;
    border-radius: 10px;
    @include transition(.3);
  }
  & span:nth-child(1) {
    top: calc(50% - 8.5px);
  }
  & span:nth-child(2) {
    top: calc(50% - 2.5px);
  }
  & span:nth-child(3) {
    top: calc(50% - 2.5px);
  }
  & span:nth-child(4) {
    top: calc(50% + 3.5px);
  }
  &.open {
    & span {
      background: $whiteColor;
    }
    & span:nth-child(1) {
      top: calc(50% - 2.5px);
      width: 0%;
      right: 50%;
    }
    & span:nth-child(2) {
      transform: rotate(45deg);
    }
    & span:nth-child(3) {
      transform: rotate(-45deg);
    }
    & span:nth-child(4) {
      top: calc(50% - 2.5px);
      width: 0;
      right: 50%;
    }
  }
}

.socials {
  @media (max-width: $breakpoint-lg) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 15px;
  }
  & .socials-text {
    display: none;
    @media (max-width: $breakpoint-lg) {
      display: block;
    }
  }
  &-list {
    display: flex;
  }
  &-item {
    display: flex;
    margin-left: 10px;
    & a {
      display: flex;
      width: 32px;
      height: 32px;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      background: $purpleColor-3;
      @include transition(.3);
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}