@import "../abstracts/mixins";
@import "../abstracts/variables";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1020;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  &-top {
    padding: 10px 0;
    background: $whiteColor;
    @media (max-width: $breakpoint-lg) {
      padding: 18px 0;
    }
    & .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: $breakpoint-lg) {
        height: 100%;
        max-width: 100%;
        padding: 0;
      }
    }
  }
  &-bottom {
    background: #f5f5f5;
  }
  &-logo {
    display: flex;
    width: 170px;
    & img {
      @include defaultIcon(contain);
    }
    @media (max-width: $breakpoint-lg) {
      margin: auto;
    }
  }
  &-control {
    display: flex;
    align-items: center;
    @media (max-width: $breakpoint-lg) {
      display: none;
    }
  }
  &-lang {
    width: 40px;
    display: flex;
    align-items: center;
    position: relative;
    @media (max-width: $breakpoint-lg) {
      margin: 0 0 20px 20px;
    }
    @media (max-width: $breakpoint-md) {
      border-top: 1px solid #d6d6d6;
      width: 100%;
      margin: 0;
      padding: 0 20px;
      border-bottom: 1px solid #d6d6d6;
      margin: 0 0 15px 0;
    }
    select {
      width: 100%;
      -moz-appearance: none;
      -webkit-appearance: none;
      color: $defaultText;
      font-weight: bold;
      font-size: 14px;
      border: none;
      outline: none;
      background: transparent;
      @media (max-width: $breakpoint-lg) {
        padding: 15px 0;
      }
    }
    select::-ms-expand {
      display: none;
    }
    &:after {
      content: "\e900";
      font-family: 'icomoon';
      position: absolute;
      right: 0;
      margin-left: 4px;
      font-size: 10px;
      pointer-events: none;
      @media (max-width: $breakpoint-md) {
        right: 20px;
      }
    }
  }
  &-cta {
    margin-left: 15px;
    @media (max-width: $breakpoint-lg) {
      width: 300px;
      display: flex;
      margin: 0 0 0 20px;
      justify-content: center;
      & a {
        text-align: center;
        width: 100%;
      }
    }
    @media (max-width: $breakpoint-md) {
      width: 100%;
      margin: 0;
      padding: 0 20px;
    }
  }
}
.search {
  @media (max-width: $breakpoint-lg) {
    margin-bottom: 10px;
    width: 100%;
    border-top: 1px solid #d6d6d6;
    padding: 16px 0 0 0;
  }
  & input {
    background: transparent;
    border: 1px solid transparent;
    height: 100%;
    width: 240px;
    padding: 2px 30px 2px 12px;
    outline: none;
    color: #f5f5f5;
    border-radius: 4px;
    pointer-events: none;
    &::placeholder {
      color: #f5f5f5;
      opacity: 1;
    }
    &:-ms-input-placeholder { 
     color: #f5f5f5;
    }
    
    &::-ms-input-placeholder {
     color: #f5f5f5;
    }
    @media (max-width: $breakpoint-xl) {
      width: 200px;
    }
    @media (max-width: $breakpoint-lg) {
      background: #FBFBFB;
      color: $defaultText;
      cursor: text;
      pointer-events: auto;
      width: 100%;
      border: 1px solid #ECECEC;
      &::placeholder {
        color: $defaultText;
        opacity: 1;
      }
      &:-ms-input-placeholder { 
       color: $defaultText;
      }
      
      &::-ms-input-placeholder {
       color: $defaultText;
      }
    }
  }
  & .form-group {
    display: flex;
    align-items: center;
    position: relative;
    height: 30px;
    pointer-events: auto;
    @media (max-width: $breakpoint-lg) {
      width: 300px;
      margin: 0 0 0 20px;
      height: 40px;
    }
    @media (max-width: $breakpoint-md) {
      width: 100%;
      margin: 0;
      padding: 0 20px;
    }
    &.active {
      & input {
        background: #FBFBFB;
        color: $defaultText;
        cursor: text;
        pointer-events: auto;
        border-color: 1px solid #ECECEC;
        &::placeholder {
          color: $defaultText;
          opacity: 1;
        }
        &:-ms-input-placeholder { 
         color: $defaultText;
        }
        
        &::-ms-input-placeholder {
         color: $defaultText;
        }
      }
    }
  }
  & i {
    position: absolute;
    height: 100%;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    z-index: 2;
    cursor: pointer;
    &:hover {
      ~ input {
        pointer-events: auto;
      }
    }
    @media (max-width: $breakpoint-lg) {
      display: none;
    }
  }
  & button {
    height: 100%;
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    @media (max-width: $breakpoint-lg) {
      display: flex;
    }
    @media (max-width: $breakpoint-md) {
      right: 20px;
    }
    & i {
      display: flex;
      position: static;
    }
  }
}
.menu {
  display: flex;
  align-items: center;
  @media (max-width: $breakpoint-lg) {
    flex-direction: column;
    align-items: flex-start;
  }
  @media (max-width: $breakpoint-md) {
    width: 100%;
  }
  &-item {
    margin: 0 30px 0 0;
    @media (max-width: $breakpoint-xl) {
      margin: 0 25px 0 0;
    }
    @media (max-width: $breakpoint-lg) {
      margin: 0 0 0 20px;
    }
    @media (max-width: $breakpoint-md) {
      padding: 16px 20px;
      margin: 0;
      width: 100%;
      display: flex;
    }
  }
  &__link {
    font-size: 14px;
    color: $blackColor;
    line-height: 1;
    padding: 13px 0;
    display: block;
    @include transition(.3);
    @media (min-width: $breakpoint-lg) {
      &:hover, &.active {
        background: rgba(0, 0, 0, 0.0001);
        color: $darkGreen;
        box-shadow: inset 0px -2px 0px #1A4540;
      }
    }
    @media (max-width: $breakpoint-lg) {
      padding: 16px 0;
    }
    @media (max-width: $breakpoint-md) {
      display: inline;
      padding: 0;
    }
  }
}
.sub-menu {
  position: absolute;
  min-width: 300px;
  opacity: 0;
  visibility: hidden;
  background: #FFFFFF;
  box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.1);
  border-radius: 0 0 4px 4px;
  transform: translate(-10px, 0);
  @include transition(.3);
  & .menu-item {
    margin: 0;
    @media (max-width: $breakpoint-md) {
      display: flex;
      padding: 12px 20px;
    }
    &.border-bottom {
      box-shadow: inset 0px -1px 0px rgba(189, 189, 189, 0.5);
      @media (max-width: $breakpoint-lg) {
        box-shadow: none;
      }
      @media (max-width: $breakpoint-md) {
        box-shadow: inset 0px -1px 0px rgba(189, 189, 189, 0.5);
      }
    }
  }
  & .menu__link {
    padding: 12px 20px;
    line-height: 1.1;
    &:hover {
      background: $primaryColor;
      color: $whiteColor;
      box-shadow: none;
    }
    @media (max-width: $breakpoint-md) {
      padding: 0 0 0 10px;
    }
  }
  @media (max-width: $breakpoint-lg) {
    opacity: 1;
    visibility: visible;
    background: transparent;
    box-shadow: none;
    transform: translate(0, 0);
    border: none;
    display: none;
    left: 380px;
    top: -53px;
  }
  @media (max-width: $breakpoint-md) {
    position: static;
    margin-top: 10px;
  }
}
.menu-item-has-children {
  align-items: center;
  position: relative;
  display: block;
  padding-right: 30px;
  @media (max-width: $breakpoint-md) {
    display: block;
    padding: 0;
    margin: 16px 0;
    & > a {
      padding: 0 20px;
    }
  }
  &:after {
    content: "\e900";
    font-family: 'icomoon';
    position: absolute;
    top: 13px;
    right: 12px;
    margin-left: 4px;
    font-size: 10px;
    pointer-events: none;
    @include transition(.3);
    @media (max-width: $breakpoint-lg) {
      top: 17px;
      right: -20px;
    }
    @media (max-width: $breakpoint-md) {
      right: 20px;
      top: 5px;
      margin: 0;
    }
  }
  @media (max-width: $breakpoint-xl) {
    margin-right: 28px;
    position: relative;
  }
  @media (min-width: $breakpoint-lg) {
    &:hover {
      &:after {
        transform: rotate(180deg);
      }
      & .sub-menu {
        opacity: 1;
        visibility: visible;
        transform: translate(0,0);
      }
      & > .menu__link {
        background: rgba(0, 0, 0, 0.0001);
        color: $darkGreen;
        box-shadow: inset 0px -1px 0px #1A4540;
      }
      & .sub-menu .menu__link {
        box-shadow: none;
      }
    }
  }
  &.active {
    &:after {
      transform: rotate(-90deg)!important;
      @media (max-width: $breakpoint-md) {
        transform: rotate(180deg)!important;
      }
    }
    & > .menu__link {
      color: $darkGreen;
    }
    & .sub-menu {
      display: block;
    }
  }
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: $breakpoint-lg) {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 0 0 20px 0;
  }
}




.body-padding {
 height: 100px;
  @media (max-width: $breakpoint-lg) {
    height: 65px;
  }
}


.header-bottom {
  @media (max-width: $breakpoint-lg) {
    position: fixed;
    top: 64px;
    right: -120vw;
    width: 100%;
    height: calc(100% - 65px);
    overflow: auto;
    @include transition(.3);
    &.active {
      right: 0;
    }
    & .container {
      padding: 0;
    }
  }
}



.hamburger {
  display: none;
  width: 50px;
  position: relative;
  z-index: 22;
  position: absolute;
  right: 5px;
  top: 0;
  height: 65px;
  @media (max-width: $breakpoint-lg) {
    display: block;
  } 
  & span {
    position: absolute;
    right: 11px;
    display: block;
    width: 25px;
    background: $defaultText;
    height: 3px;
    border-radius: 10px;
    @include transition(.3);
  }
  & span:nth-child(1) {
    top: calc(50% - 8.5px);
  }
  & span:nth-child(2) {
    top: calc(50% - 2.5px);
  }
  & span:nth-child(3) {
    top: calc(50% - 2.5px);
  }
  & span:nth-child(4) {
    top: calc(50% + 3.5px);
  }
  &.open {
    & span {
      background: $defaultText;
    }
    & span:nth-child(1) {
      top: calc(50% - 2.5px);
      width: 0%;
      right: 50%;
    }
    & span:nth-child(2) {
      transform: rotate(45deg);
    }
    & span:nth-child(3) {
      transform: rotate(-45deg);
    }
    & span:nth-child(4) {
      top: calc(50% - 2.5px);
      width: 0;
      right: 50%;
    }
  }
}