@import "../abstracts/mixins";
@import "../abstracts/variables";

.blog {
  &-heading {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 80px 1fr;
    align-items: center;
    margin-bottom: 30px;
    @media (max-width: $breakpoint-lg) {
      display: flex;
      flex-direction: column;
    }
    & .section-icon {
      grid-column: 1/2;
      grid-row: 1/3;
      margin: 0 0 10px 0;
    }
    & .section-heading {
      grid-column: 2/3;
      grid-row: 1/2;
      text-align: left;
      line-height: 1;
      margin: 0;
    }
    & .section-subheading {
      grid-column: 2/3;
      grid-row: 2/3;
      text-align: left;
    }
  }
  &-list {
    margin-top: 45px;
    & .col-12 {
      padding: 0 15px;
    }
    & .row:first-of-type {
      @media (max-width: $breakpoint-lg) {
        justify-content: center;
      }
    }
    &-row {
      & .col-xs-12 {
        margin-bottom: 24px;
      }
      & .pagination {
        display: flex;
      }
    }
  }
  &-categories {
    display: flex;
    box-shadow: inset 0px -1px 0px rgba(189, 189, 189, 0.5);
    margin-bottom: 30px;
    @media (max-width: $breakpoint-md) {
      overflow-x: auto;
      justify-content: flex-start;
      &::-webkit-scrollbar {
        -webkit-appearance: none;
        height: 2px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.2);
        box-shadow: 0 0 1px rgba(255,255,255,.2);
      } 
    }
    &__link {
      padding: 12px 28px;
      line-height: 1.1;
      display: inline-block;
      @include transition(0.3);
      cursor: pointer;
      &:before {
        display: block;
        content: attr(title);
        font-weight: bold;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }
      &:hover {
        color: $darkGreen;
        font-weight: 700;
      }
      &.active {
        font-weight: 700;
        color: $darkGreen;
        box-shadow: inset 0px -2px 0px #1A4540;
      }
    }
  }
  &-search {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 38px;
    @media (max-width: $breakpoint-lg) {
      display: none;
    }
    & .form-group {
      position: relative;
      border-radius: 4px;
      overflow: hidden;
      height: 32px;
      width: 260px;
    }
    & input {
      background: #F1F1F1;
      border: none;
      font-family: inherit;
      width: 100%;
      height: 100%;
      outline: none;
      padding: 6px 32px 6px 10px;
      border: 1px solid transparent;
      border-radius: 4px;
      @include transition(.3);
      &:focus {
        border-color: $primaryColor;
      }
    }
    & button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 32px;
      background: transparent;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
  &-advertising {
    & .cards-item {
      margin-bottom: 24px;
      & .btn-primary {
        text-align: center;
        width: 90%;
        margin: 0 auto 18px auto;
      }
    }
    & .advertising-item {
      background: #F1F1F1;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $grayColor;
      font-size: 18px;
      margin-bottom: 24px;
    }
    & .advertising-big {
      height: 250px;
    }
    & .advertising-small {
      height: 90px;
    }
  }
}

.blog-detail {
  &__info {
    margin-bottom: 26px;
  } 
  &__heading {
    font-size: 24px;
    font-weight: 700;
    color: #222222;
    width: 80%;
    margin-bottom: 24px;
    line-height: 1.2;
    @media (max-width: $breakpoint-md) {
      width: 100%;
    }
  }
  &__image {
    margin-bottom: 28px;
    border-radius: 4px;
    overflow: hidden;
    & img {
      @include defaultIcon(contain);
    }
  }
  &__data {
    display: flex;
    align-items: center;
    @media (max-width: $breakpoint-sm) {
      flex-wrap: wrap;
    }
    &.--additional {
      margin-top: 60px;
      @media (max-width: $breakpoint-md) {
        margin-top: 0;
      }
    }
  }
  &__date, &__author {
    display: flex;
    align-items: center;
    margin-right: 40px;
    @media (max-width: $breakpoint-lg) {
      margin-right: 20px;
      font-size: 14px;
    }
    & i {
      margin-right: 7px;
    }
  }
  & .socials-bar {
    margin-left: auto;
    @media (max-width: $breakpoint-sm) {
      margin: 16px 0 0 0;
    }
    & a {
      border: 1px solid #EBEBEB;
    }
  }
  &__content {
    & strong {
      font-weight: 700;
    }
    & p {
      margin-bottom: 20px;
    }
    & h2 {
      color: #222222;
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 20px;
    }
    & h3 {
      color: #222222;
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
}

.blog-recommendations {
  margin-top: 90px;
  @media (max-width: $breakpoint-md) {
    margin-top: 50px;
  }
  &__heading {
    font-size: 30px;
    font-weight: 700;
    color: $blackColor;
  }
}