@import "../abstracts/mixins";
@import "../abstracts/variables";

.faq {
  min-height: 100vh;
  @media (max-width: $breakpoint-lg) {
    min-height: unset;
    padding-bottom: 50px;
  }
  & .section-title {
    margin: 60px 0 45px 0;
    @media (max-width: $breakpoint-lg) {
      margin: 40px 0;
    }
  }
  & .tabs-wrap {
    padding-top: 0;
    & .accordion__button i {
      min-width: 20px;
      min-height: 20px;
      max-width: 20px;
      max-height: 20px;
      background: linear-gradient(180deg, #40335C 0%, #1E172F 100%);
      &:before, &:after {
        width: 12px;
        height: 2px;
        left: calc(50% - 6px);
        top: calc(50% - 1px);
      }
    }
  }
  & .tabs-list {
    flex-direction: column;
    box-shadow: none;
    @media (max-width: $breakpoint-lg) {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      margin-bottom: 16px;
      border-bottom: 1px solid #cecece;
      overflow-x: auto;
    }
    & .tabs-list__item {
      @media (max-width: $breakpoint-lg) {
        min-width: fit-content;
        margin-right: 20px;
      }
    }
    & .tabs-list__item_link {
      font-size: 14px;
      font-weight: 500;
      position: relative;
      &:before {
        content: '';
        background: #2c1959;
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 2px;
        opacity: 0;
        transition: all .3s ease-out;
      }
      @media (max-width: $breakpoint-lg) {
        color: #777777;
        background: transparent;
        position: relative;
        padding: 14px 10px;
        font-weight: 700;
        border: none;
        &.active {
          color: #2c1959;
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
}

