@import "../abstracts/mixins";
@import "../abstracts/variables";

.page-programs-list {
  & .table-row {
    background: $whiteColor;
    border-radius: 4px;
    @media (max-width: $breakpoint-md) {
      margin: -60px 0 0 0;
    }
  }
  & .programs-list-table {
    border-radius: 0 0 4px 4px;
  }
  & .pagination {
    display: flex;
    &-container {
      padding: 0 15px;
      justify-content: space-between;
      align-items: center;
      @media (max-width: $breakpoint-md) {
        margin: 20px 0 400px 0;
        justify-content: center;
      }
    }
  }
}

.programs-search {
  padding: 12px 16px;
  width: 100%;
  & form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $breakpoint-sm) {
      flex-wrap: wrap;
    }
  }
  & .form-group {
    height: 36px;
    position: relative;
    width: 340px;
    @media (max-width: $breakpoint-md) {
      width: 250px;
    }
    @media (max-width: $breakpoint-sm) {
      width: 100%;
    }
    & input {
      height: 100%;
      padding: 6px 40px 6px 10px;
      background: #FBFBFB;
      border: 1px solid #ECECEC;
      border-radius: 4px;
    }
    & button {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 40px;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
  & .form-group.form-select {
    width: fit-content;
    display: flex;
    align-items: center;
    position: relative;
    @media (max-width: $breakpoint-sm) {
      margin-top: 16px;
    }
    &:after {
      content: "\e900";
      font-family: 'icomoon';
      position: absolute;
      right: 6px;
      top: 11px;
      margin-left: 4px;
      font-size: 10px;
      pointer-events: none;
      @media (max-width: $breakpoint-md) {
        right: 20px;
      }
    }
    & span {
      color: $grayColor;
      font-size: 14px;
      margin-right: 16px;
    }
    & select {
      min-width: 100px;
      height: 30px;
      width: fit-content;
      border: none;
      border-radius: 2px;
      padding: 6px 10px;
      background: #F3F3F3;
      -moz-appearance: none;
      -webkit-appearance: none;
    }
  }
}

.pagination-results {
  @media (max-width: $breakpoint-md) {
    display: none;
  }
}