@import "../abstracts/mixins";
@import "../abstracts/variables";

.btn {
  font-family: inherit;
  border: 1px solid transparent;
  padding: 9px 18px;
  display: inline-block;
  @include transition(.3);
  font-size: 12px;
  font-weight: 700;
  &-outline {
    color: #2C1959;
    border-color: #2C1959;
    border-radius: 4px;
    &:hover {
      color: $whiteColor;
      background: #2C1959;
    }
  }
  &-outline-white {
    color: $blackColor;
    border-color: $blackColor;
    border-radius: 4px;
    background: $whiteColor;
    font-weight: 350;
    &:hover {
      color: $whiteColor;
      border-color: transparent;
      background: #40335C;
    }
  }
  &-gradient {
    background: linear-gradient(180deg, #40335C 0%, #1E172F 100%);
    color: $whiteColor;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    &:hover {
      background: linear-gradient(180deg, #40335C 0%, #1E172F 50%);
    }
  }
}