@import "../abstracts/mixins";
@import "../abstracts/variables";

.btn {
  font-family: inherit;
  border: 1px solid transparent;
  padding: 9px 18px;
  display: inline-block;
  @include transition(.3);
  font-size: 12px;
  font-weight: 700;
  &-outline {
    color: #2C1959;
    border-color: #2C1959;
    border-radius: 4px;
    &:hover {
      color: $whiteColor;
      background: #2C1959;
    }
  }
}