@import "../abstracts/mixins";
@import "../abstracts/variables";

.breadcrumbs-container {
  height: 30px;
  background: #D8D8D8;
  & .container {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
.kama_breadcrumbs {
  color: #000000;
  font-size: 12px;
  display: flex;
  align-items: center;
  & a {
    position: relative;
    display: flex;
    align-items: center;
    &:after {
      content: '/';
      display: block;
      margin: 0 4px;
      color: #777777;
    }
    span{
      font-size: 12px;
      color: #777777;
    }
  }
  & .kb-title {
    color: #000000;
    font-size: 12px;
  }
}

.comments {
  margin: 50px 0 40px 0;
  & .section-title {
    font-size: 24px;
    margin-bottom: 44px;
  }
  &-item {
    border: 1px solid #EBEBEB;
    padding: 22px 20px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
    border-radius: 4px;
    @media (max-width: $breakpoint-md) {
      flex-direction: column;
      padding: 12px;
    }
  }
  &-image {
    width: 36px;
    height: 36px;
    min-width: 36px;
    border-radius: 100%;
    margin-right: 12px;
    @media (max-width: $breakpoint-md) {
      margin: 0 0 8px 0;
    }
    & img {
      @include defaultIcon(cover);
    }
  }
  &-content {
    & h4 {
      font-size: 16px;
      color: $blackColor;
      font-weight: 500;
      margin-bottom: 6px;
    }
    & span {
      margin-bottom: 4px;
      display: block;
      font-size: 12px;
      color: #777777;
    }
    & p {
      margin-bottom: 12px;
      color: $blackColor;
      font-size: 14px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  & form {
    margin-top: 36px;
  }
  & .col-xs-12 {
    margin-bottom: 20px;
  }
  & .form-textarea {
    height: 150px;
    margin-bottom: 20px;
  }
  & .btn-gradient {
    width: 100px;
  }
}

.socials-bar {
  display: flex;
  align-items: center;
  & a {
    margin-right: 10px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    @include transition(.3);
  }
  & i:before {
    @include transition(.3);
  }
}
