@import "../abstracts/mixins";
@import "../abstracts/variables";

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.--semibold {
  font-weight: 600;
}

.--regular {
  font-weight: 400;
}

.--medium {
  font-weight: 500;
}

.--bold {
  font-weight: 700;
}

.--uppercase {
  text-transform: uppercase;
}

.section-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
  color: $defaultText;
}
.section-subtitle {
  font-size: 14px;
  color: #777777;
}

.icon-icon-search:before {
  content: "\e900";
  color: #fff;
}
.icon-icon-youtube:before {
  content: "\e901";
  color: #d1a643;
}
.icon-icon-user:before {
  content: "\e902";
  color: #c7c7c7;
}
.icon-icon-twitter:before {
  content: "\e903";
  color: #d1a643;
}
.icon-icon-instagram:before {
  content: "\e904";
  color: #d1a643;
}
.icon-icon-heart:before {
  content: "\e905";
  color: #c7c7c7;
}
.icon-icon-facebook:before {
  content: "\e906";
  color: #d1a643;
}

.icon {
  width: 20px;
  height: 20px;
  &-instagram {
    background: no-repeat center url('../img/icons/icon-instagram.svg');
  }
  &-facebook {
    background: no-repeat center url('../img/icons/icon-facebook.svg');
  }
  &-twitter {
    background: no-repeat center url('../img/icons/icon-twitter.svg');
  }
  &-youtube {
    background: no-repeat center url('../img/icons/icon-youtube.svg');
  }
  &-chevron {
    background: no-repeat center url('../img/icons/icon-arrow.svg');
  }
}